.name-label {
  font-size: 16px;
  color: var(--text-placeholder, #BDBDBD);

}

  #contactForm {
    max-width: 80%;
    margin: 50px auto;
    padding: 14px 14px 14px 16px;
    border-radius: 10px;
    background: var(--background-grey-background, #F6F7F9);
  }
  
input[type="email"], textarea[type="message"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border : none;
    outline-color: #F6F7F9;
    font-size: 16px;
    color: var(--text-placeholder, #000000);
  }
  
textarea[type="message"] {
  min-height: 150px;
  resize: none;
}
  
button[type="submit"] {
  padding: 5px 10px 6px 10px;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  background: var(--Primary, linear-gradient(271deg, #888BF4 0%, #5151C6 100%));
}