#arrow-left-menu {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 12px 16px;
    position: relative;
    width:100%;
}

#arrow-left-icon {
    background-color: rgb(255, 255, 255);
    border: none;
}

#like {
    background-color: rgb(255, 255, 255);
    border: none;
}